# Dotfiles and dotfolders
**/.*

# Variables
var/*

# Yo dawg I herd U like Docker
.dockerignore
Dockerfile
kitchen

# Jupyter secrets
.ipynb_checkpoints/
jupyter_notebook_config.*

# Sublime Text history
*.sublime-workspace
