# Variables
/var/*
!/var/small.txt

# Apple debris
.DS_Store*
.Spotlight-*
.Trashes
.fseventsd
Thumbs.db

# Jupyter secrets
.ipynb_checkpoints/
jupyter_notebook_config.*

# Python caches
*.egg
*.egg-info
*.py[cod]
*.so
.cache/
.pytest_cache/
.tox/
.venv/
__pycache__/
